body{
    font-family: 'Work Sans';
}

header {
    width: 100%;
    position: fixed;
    left: 0px; top: 0px;
    background-color: white;
}

#outer {
    display: flex;
    justify-content: center;
}
#page_title {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    text-decoration-line: underline;
    color: #163C6B;

    margin-left: 50px;
    margin-top: 30px;
}

hr {
    border: 0.1px solid #163C6B;  
}

#profile {
    margin-top: 150px;
    padding-top: 50px;
    width: 375px;
    text-align: center;

    /* drop shadow */
    background: #FFFFFF;
    border: 1px solid #163C6B;
    box-shadow: 3px 20px 10px 2px rgba(0, 0, 0, 0.25);
}

#nickname {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #163C6B;

    margin: 30px 0px;
}

.info {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.section {
    /*border: 1px solid royalblue;
    box-sizing: border-box;*/
    text-align: center;

}

.section_title {
    font-size: 20;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: #163C6B;

    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.careers {

    width: 83%;
    display: inline-block;
    text-align: left;
    height: 40px;
}

.hidden {
    visibility: hidden;
}

#career_icon, #career_title, #career_org {
    display: inline-block;
    /*border: 1px solid royalblue;
    box-sizing: border-box;*/
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}
#career_icon {
    width: 18px;
    font-size: 15;
}
#career_title {
    width: 190px;
    font-size: 15;
}
#career_org {
    width: 70px;
    font-size: 11;
    text-align: center;
}
button {
    background-color: #163C6B;
    border: none;
    color: white;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    width: 300px;
    height: 50px;
}

.small {
    display: inline-block;

    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    font-size: 10px;
    width: 100px;
    text-align: right;
}
